In [1]:
import pandas as pd
import os
import sys

sys.path.append(os.path.abspath(".."))
df = pd.read_csv("fox_alerts.csv")
df

,time,name,ip,host,short,time_label,event_label
0,1642213952,Wazuh: ClamAV database update,172.17.131.81,mail,W-Sys-Cav,false_positive,-
1,1642213952,Wazuh: ClamAV database update,192.168.128.170,jonesmorgan_mail,W-Sys-Cav,false_positive,-
2,1642213957,Wazuh: ClamAV database update,172.17.131.81,mail,W-Sys-Cav,false_positive,-
3,1642213962,Wazuh: ClamAV database update,172.17.131.81,mail,W-Sys-Cav,false_positive,-
4,1642213967,Wazuh: ClamAV database update,172.17.131.81,mail,W-Sys-Cav,false_positive,-
...,...,...,...,...,...,...,...
473099,1642633908,AMiner: Unusual occurrence frequencies of DNS ...,192.168.255.254,inet-dns,A-Dns-Clc1,false_positive,-
473100,1642634741,AMiner: Unusual occurrence frequencies of DNS ...,192.168.255.254,inet-dns,A-Dns-Clc1,false_positive,-
473101,1642635077,AMiner: Unusual occurrence frequencies of DNS ...,192.168.255.254,inet-dns,A-Dns-Clc1,false_positive,-
473102,1642635708,AMiner: Unusual occurrence frequencies of DNS ...,192.168.255.254,inet-dns,A-Dns-Clc1,false_positive,-
473103,1642636516,AMiner: Unusual occurrence frequencies of DNS ...,192.168.255.254,inet-dns,A-Dns-Clc1,false_positive,-

In [2]:
df.rename(columns={
    'time': 'timestamp',
    'name': 'event',
    'host': 'machine',
}, inplace=True)

unique_events = df['event'].unique()
event_map = {evt: idx + 1 for idx, evt in enumerate(unique_events)}
df['event'] = df['event'].map(event_map)
unique_machines = df['machine'].unique()
machines_map = {mac: idx + 1 for idx, mac in enumerate(unique_machines)}
df['machine'] = df['machine'].map(machines_map)
# Create binary label column (0=normal, 1=anomalous)
df['label'] = df['event_label'].apply(lambda x: 0 if x == '-' else 1)

df.drop(columns=['event_label', 'time_label', 'short', 'ip'], inplace=True)

df.sort_values(by=['timestamp'], inplace=True)
min_timestamp = df['timestamp'].min()
df['timestamp'] = df['timestamp'] - min_timestamp
df.reset_index(drop=True, inplace=True)
df

        timestamp  event  machine  label
0               0     47       10      0
1               0     44       10      0
2               0     48       10      0
3               0     44       10      0
4               0     44       10      0
...           ...    ...      ...    ...
473099     431720      1        1      0
473100     431725      1        1      0
473101     431730      1        1      0
473102     431735      1        1      0
473103     431735      1        1      0

[473104 rows x 4 columns]

In [3]:
from tokenizer import tokenize

tokenize(df, save_path="./numeric_tokenizer")

Created 77 priority tokens

In [4]:
from train import train

train(df, tokenizer_path="./numeric_tokenizer", debug=True, num_queries_al=3)

Using device: cuda
Starting training...
==================================================

Epoch 1/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00,  7.11it/s, loss=0.6901, acc=0.5000, lr=2.00e-05]

Epoch 1 Summary:
Train Loss: 0.7150, Train Acc: 0.4336
Learning Rate: 2.00e-05

Epoch 2/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 59.43it/s, loss=0.5381, acc=0.8750, lr=1.78e-05]

Epoch 2 Summary:
Train Loss: 0.6005, Train Acc: 0.7812
Learning Rate: 1.78e-05

Epoch 3/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.32it/s, loss=0.4179, acc=1.0000, lr=1.56e-05]

Epoch 3 Summary:
Train Loss: 0.4734, Train Acc: 0.9648
Learning Rate: 1.56e-05

Epoch 4/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.09it/s, loss=0.3711, acc=1.0000, lr=1.33e-05]

Epoch 4 Summary:
Train Loss: 0.3874, Train Acc: 0.9766
Learning Rate: 1.33e-05

Epoch 5/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.22it/s, loss=0.2531, acc=1.0000, lr=1.11e-05]

Epoch 5 Summary:
Train Loss: 0.3038, Train Acc: 0.9766
Learning Rate: 1.11e-05

Epoch 6/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.35it/s, loss=0.1993, acc=1.0000, lr=8.89e-06]

Epoch 6 Summary:
Train Loss: 0.2477, Train Acc: 0.9766
Learning Rate: 8.89e-06

Epoch 7/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.80it/s, loss=0.1676, acc=1.0000, lr=6.67e-06]

Epoch 7 Summary:
Train Loss: 0.2139, Train Acc: 0.9766
Learning Rate: 6.67e-06

Epoch 8/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.64it/s, loss=0.1405, acc=1.0000, lr=4.44e-06]

Epoch 8 Summary:
Train Loss: 0.1806, Train Acc: 0.9766
Learning Rate: 4.44e-06

Epoch 9/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.07it/s, loss=0.3025, acc=0.8750, lr=2.22e-06]

Epoch 9 Summary:
Train Loss: 0.2063, Train Acc: 0.9492
Learning Rate: 2.22e-06

Epoch 10/10
------------------------------

Training: 100%|██████████| 4/4 [00:00<00:00, 60.09it/s, loss=0.1490, acc=1.0000, lr=0.00e+00]

Epoch 10 Summary:
Train Loss: 0.1657, Train Acc: 0.9766
Learning Rate: 0.00e+00

==================================================
Training completed!
Best training accuracy: 0.9766

/home/rm521/.venv/lib/python3.12/site-packages/small_text/utils/annotations.py:67: ExperimentalWarning: The function from_arrays is experimental and maybe subject to change soon.
  warnings.warn(f'The {subject} {func_or_class.__name__} is experimental '

Train accuracy: 1.00000
Test accuracy: 0.99958
Test F1 score: 0.99978
Confusion Matrix (Test):
[[ 34606    157]
 [    32 419920]]

100%|██████████| 454515/454515 [02:44<00:00, 2770.79it/s]

Train accuracy: 1.00000
Test accuracy: 0.99963
Test F1 score: 0.99980
Confusion Matrix (Test):
[[ 34600    163]
 [     5 419947]]

100%|██████████| 454515/454515 [01:37<00:00, 4681.01it/s]

Train accuracy: 1.00000
Test accuracy: 0.99962
Test F1 score: 0.99979
Confusion Matrix (Test):
[[ 34595    168]
 [     6 419946]]

100%|██████████| 454515/454515 [04:20<00:00, 1744.14it/s]

Train accuracy: 0.99875
Test accuracy: 0.99960
Test F1 score: 0.99978
Confusion Matrix (Test):
[[ 34604    159]
 [    22 419930]]